*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica", "Arial", sans-serif;
    height: 100vh;
    background-color: #fcfcf7;
    color: #1f1f09;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(images/background-mage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form-header {
    display: flex;
    width: fit-content;
    border: 1px solid #A6C1E6;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #A6C1E6;
    box-shadow: 1px 2px #c8e3ff;
    opacity: 0.8;
}

.form-header .form-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.form-header .form-title-sub-title-basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #122138;
    opacity: 1;
}

#basic-info {
    font-size: 15px;
    margin-top: 3px;
    opacity: 1;
}

.order-form {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 1px solid #A6C1E6;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #A6C1E6;
    box-shadow: 2px 3px #c8e3ff; 
    opacity: 0.8;
    flex-wrap: wrap;
    justify-content: center;
    gap: 62px;
}  

.order-form .left, .order-form .right {
    width: auto;
}

.input-row {
    display: flex;
    flex-direction: column;
    color: #122138;
    margin-top: 20px;
    opacity: 1;
}

.input-row input[type="text"],
.input-row input[type="email"] {
    font-size: 20px;
    background-color: #A6C1E6;
    border: none;
    border-bottom: 2px solid #30415D;
    padding: 7px;
    width: 300px;
    opacity: 1;
}

.input-row input[type="number"] {
    font-size: 20px;
    background-color: #A6C1E6;
    border: none;
    border-bottom: 2px solid #30415D;
    padding: 7px;
    margin-bottom: 25px;
    opacity: 1;
}

.dropdowns-container {
    display: flex;
    gap: 20px;
}

/* Type of Cuisine dropdown based on the algorithm sent on ms teams */

button,
li,
a {
    all: unset;
    box-sizing: border-box;
}

#dropdown {
    --border-radius: 6px;
    --shadow-color: 60deg 13% 61%;
    max-width: 150px;
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
    margin-top: 10px;
}

.dropdown-toggle{
    border-radius: var(--border-radius);
}

.dropdown-toggle,
.menu-item,
.submenu-item {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #30415D;
    border: 2px solid #30415D;
    color: #f6faff;
}

:is(.menu-item, .submenu-item):first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

:is(.menu-item, .submenu-item):last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

:is(.menu-item,.submenu-item):hover {
    background-color: #faf6ea;
    color: #30415D;
}

.dropdown-toggle,
.submenu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle > span {
    font-size: 15px;
    color: #f6faff;
}

#healthy-options {
    font-size: 14px;
}

.dropdown {
    position: relative;
}

.menu,
.submenu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.menu.open {
    visibility: visible;
    opacity: 1;
    translate: 0 12px;
}

.submenu {
    width: max-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    translate: -12px 0;
}

.menu-item:hover > .submenu-toggle + .submenu {
    visibility: visible;
    opacity: 1;
    translate: 8px 0;
}

/* Mode of payment dropdown using CSS only*/

.paymentMethod-dropdown {
    background-color: #30415D;
    border: 2px solid #30415D;
    border-radius: 6px;
    height: fit-content;
    padding: 10px;
    width: 162px;
    color: #f6faff;
    margin-top: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment {
    background-color: #A6C1E6;
    border: 2px solid #30415D;
    width: 162px;
    height: fit-content;
    position: absolute;
    display: none;
    border-radius: 7px 7px 0 7px;
}

.payment ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.payment ul li {
    color: #30415D;
    padding: 10px;
    text-align: center;
}

.payment ul li:hover {
    color: #f6faff;
    background-color: #30415D;
    cursor: pointer;
}

.payment ul li ul{
    background-color: #A6C1E6;
    border: 2px solid #30415D;
    width: 162px;
    height: fit-content;
    position: absolute;
    display: flex;
    left: 158px;
    margin-top: -28px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    visibility: hidden;
}

.payment ul li:hover ul {
    visibility: visible;
}

.dropdown-payment:hover .payment {
    display: block;
}

.paymentMethod-dropdown:hover{
    background-color: #A6C1E6;
    cursor: pointer;
    color: #30415D;
}

/**/

input[type="radio"]:hover {
    cursor: pointer;
}

.dineIn-takeOut {
    background-color: #30415D;
    border: 2px solid #30415D;
    border-radius: 7px;
    margin-top: 5px;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.comments {
    display: grid;
    border: 1px solid #30415D;
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    background-color: #30415D;
    color: #f6faff;
}

textarea {
    border-radius: 7px;
    border: 1px solid #30415D;
}

.dineIn-takeOut {
    color: #f6faff;
}

.placeOrder-cancel-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
}

.place-order {
    padding: 10px;
    border-radius: 7px;
    background-color: #30415D;
    border: 2px solid #30415D;
    color: #f6faff;
    width: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 40px;
}

.place-order:hover {
    cursor: pointer;
    background-color: #A6C1E6;
    color: #30415D;
}

.cancel {
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(255, 60, 0);
    border: 2px solid rgb(255, 60, 0);
    color: #f6faff;
    width: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 40px;
}

.cancel:hover {
    cursor: pointer;
    background-color: #f6faff;
    color: rgb(255, 60, 0);
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(images/mobile-back-image.png);
        background-repeat: no-repeat;
    }
    .payment ul li ul{
        left: -2px;
        margin-top: 0;
    }
}